
@import "bulma";

nav {
	border: 0px;
	border-bottom: 2px;
	border-color: lightgray;
	border-style: solid;
}

.navbar-brand {
	font-weight: 600;
}

footer {
	a {
		color: currentColor;
		&:hover {
			color: $link;
		}
	}
}

.focus {
	margin: 4rem auto;

	.subtitle {
		color: $grey;
	}

	.column {
		padding: 2em;
		margin: 1em;
		border-radius: 4px;
	}
}

.fh2 {
	@extend .is-uppercase;
	@extend .is-size-7;
}

.tl-head {
  text-align: center;
  font-size: 1.25em;
  color: $grey-dark;
}

main {
	margin-left: 0;
}

.tile {
	.is-parent {
		padding: 0.75em;
	}
}

.navbar-item{
  padding: 0.5rem 1rem;
}

.hero-body {
  padding: 3rem 1rem;
  .content {
    padding: 0 2em;
    @include desktop {
      padding: 0 6em;
    }
  }
}

main {
	color: #6b717f;

	article {
		padding: 1em;

		@include desktop {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.tasklist {
		padding: 1em;
	}
}

.columns {
	.column {
		display: flex;
	}
	.card {
		border-radius: 8px;
		.card-header,.content {
			padding: 1em;
		}
	}

}
